html {
  position: relative;
  min-height: 100%;
}
body {
  background: #000;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #fffbd2;
  margin-bottom: 60px;
}
h1,
h2,
h3 {
  font-family: 'PT Sans', sans-serif;
  color: #fffbd2;
}
h1 {
  font-size: 1.8em;
  font-weight: 600;
}
h2 {
  font-size: 1.5em;
  font-weight: 600;
}
h3 {
  font-size: 1.2em;
  font-weight: 400;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #800000;
}
.hp-sections .section {
  margin: 0 -15px;
  width: 100%;
  height: 900px;
  background-color: #000;
  background-size: cover;
}
.hp-sections .section .tagline {
  position: relative;
  top: 250px;
  text-align: center;
  color: #fffbd2;
  margin: 0 auto;
  padding: 20px 10px;
  width: 50%;
  background: rgba(0,0,0,0.5);
  line-height: 2em;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2em;
}
#Home {
  background-image: url("../img/match-wide.jpg");
  height: 700px;
}
#Home .tagline {
  top: 350px;
}
#Products {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url("../img/glass.jpg");
}
#Products .tagline {
  background-color: rgba(51,51,51,0.85);
  text-align: left;
  font-size: 1.5em;
  width: 60%;
/*
    .showerChill
      padding-left 120px
      margin: 20px 40px
      width: 100%
      height: 40px
      background: url(../img/logo-ShowerChill-108x40.jpg) left center no-repeat
    */
}
#Contact {
  background-color: #000;
  height: 800px;
}
#Contact .tagline {
  color: #eee8c7;
  line-height: 1em;
}
#Contact .tagline h3 {
  color: #eee8c7;
  line-height: 2em;
}
#Contact .tagline a {
  text-decoration: none;
}
#Contact .tagline address {
  text-align: left;
  font-size: 0.8em;
  font-family: 'PT Sans', sans-serif;
}
.navbar {
  background-color: transparent;
}
.navbar .container {
  justify-content: flex-start;
}
.navbar .navbar-brand {
  float: left;
  color: #fffbd2;
  -webkit-transition: padding 0.2s ease-in;
  -moz-transition: padding 0.2s ease-in;
  transition: padding 0.2s ease-in;
}
#sidebar1 {
  width: 300px;
  margin-top: 10px;
  text-align: center;
}
#sidebar1 #paypal {
  position: relative;
  margin: 25px auto;
  padding-top: 15px;
  width: 280px;
  text-align: center;
}
#search_prev_next {
  margin: 25px;
}
li.search_results_list {
  display: inline-block;
  list-style: none;
  margin-top: 20px;
  width: 100%;
}
li.search_results_list a {
  color: transparent;
  font-weight: 700;
}
li.search_results_list .search_results_list-thumbnail {
  float: left;
  padding-right: 10px;
}
li.search_results_list .search_results_list-title {
  display: inline;
  padding-right: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
/* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  background-color: #666;
}
.footer .copyright {
  background: transparent;
  color: #fffbd2;
  text-align: center;
}
.footer .copyright a {
  color: #800000;
}
.footer .copyright a:hover {
  text-decoration: none;
}
.footer .copyright ul.links {
  margin-top: 10px;
  text-align: center;
}
.footer .copyright ul.links li {
  display: inline;
  list-style: none;
}
.footer .copyright ul.links li a {
  color: #800000;
}
form#contact label {
  display: block;
  margin-bottom: 0;
  font-weight: bold;
}
#Thanks {
  position: relative;
  top: 125px;
}
#ContactUs {
  position: relative;
  top: 125px;
}
.content_wrapper {
  position: relative;
  text-align: center;
  top: 150px;
}


/*# sourceMappingURL=index.css.map*/