{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_extra %}

{# Google strucutured data #}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://{{request.get_host}}",
    "logo": "http://{{request.get_host}}{% static 'img/rgapplied_40x40.png' %}"
  }
  </script>

<!-- Google Sitelinks Search Box -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "http://{{request.get_host}}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "http://{{request.get_host}}/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
<!-- /Google Sitelinks -->

  <meta property="fb:app_id" content="" />
  <meta property="og:title" content="RG Applied Solutions" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{request.get_host}}" />
  <meta property="og:site_name" content="RG Applied Solutions" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="http://{{request.get_host}}{% static 'img/rgapplied_400x400.jpg' %}" />

{% endblock %}

<body {% block body_class %}homepage{% endblock %}>

  {% block content %}

  <!-- Header and Nav -->
  {% include '_navbar.html' %}
  <!-- /Header and Nav -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 hp-sections">

          <div id="Home" class="section rlx" data-rellax-speed="2">
            <div class="tagline rlx" data-rellax-speed="7">
                <h3>
                  Smart Heat Transfer Solutions
                </h3>
            </div>
          </div>

          <div id="Products" class="section rlx" data-rellax-speed="2">
            <div class="tagline rlx" data-rellax-speed="7">
                <h3>
                  Our Products
                </h3>
              <div class="showerChill"></div>
             <ul>
               <li>Low cost</li>
               <li>Reliable: No moving parts</li>
               <li>ANSI compliant : Water temperature always below within limits</li>
               <li>Works in extreme climates </li>
             </ul>

            </div>
          </div>

          <div id="Contact" class="section">
            <div class="tagline rlx" data-rellax-speed="7">
              <h3>
                For More Information:
              </h3>
              <address>
                info@rgapplied.com <br/>
                +1 301.842.4236 <br/>
                <a href="/contact/">Contact Us</a>
              </address>
            </div>
          </div>

      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->

  {% endblock content %}

{% block bottom %}

<script type="text/javascript">
$(document).ready(function() {

  console.log("document ready!");

  let rellax1 = new Rellax('.rlx', {
    center: true,
    //round: true,
  });

});
</script>

{% endblock %}

