/* navbar styles */
.navbar
  background-color: $topbar-bg
  .container
    justify-content: flex-start
  .navbar-brand
    float: left
    color: $topbar-text
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;

